* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
}

window#waybar {
    background-color: #1e1e2e;
    color: #cdd6f4;
}

#clock, #network, #pulseaudio, #workspaces {
    padding: 0 8px;
    color: #cdd6f4;
}
